<div class="products-table" data-ng-controller="productController">
  <h1>Products </h1>
  <div>
    <span>Search Product: </span>
    <input data-ng-model="searchString" placeholder="Enter product name" type="text"></input>
    <button class="btn btn-primary" data-ng-click="getProduct()">Search</button>
  </div>
  <table class="table table-striped table-hover contianer" id="product-list" >
    <tr class="row" data-ng-repeat="product in prdCtrl.searchResult">
      <td>
        <div class="col-xs-12 product-name">Product Name: {{product.name}}</div>
        <div class="col-xs-6 product-version">Product Version: {{product.version}}</div>
        <div class="col-xs-6 hidden-xs hidden-sm company">Company: {{product.company}}</div>
        <div class="col-xs-6 contract-number">Contract Number: {{product.contractNumber}}</div>
        <div class="col-xs-6 type">Type: {{product.type}}</div>
      </td>
   <tr>
 </table>
</div>
