body{
  background: #eeecf1;
}
.header{
  background-color: #eeecf1;
  min-height: 100px;
}
.products-img{
  background: #eeecf1 url("../images/Products.jpg") no-repeat right top;
  min-width: 200px;
  min-height:100px;
  max-height: 100px;
}
.row{
  min-height: 25px;
  border: 1px solid;
}
ul{
  list-style-type: none;
}
update{
  border: 1px solid;
}
#search-products-table{
  margin: 20px 10px;
}
#search-products-table tr td, #search-products-table th{
    border: 1px solid!important;
}
{
    border: 1px solid;
    border-collapse: collapse;
}
 {
    border: 1px solid;
}
